* {     
      padding: 0
      margin:0;
        box-sizing: border-box;
      /*user-select: none;*/
            }
body {
  font-family: Arial, Helvetica, sans-serif;
}

#fundo{
  background-color: #a8a8a8;
  border-color: #000000;
  ;
}

/* header */
    header {
      background-color: #a7c957;
      padding: 9px;
      text-align: center;
      font-size: 16px;
      color: white;
     
    }
#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 21px;

    
}

#inputpesq{
  margin-left: 296px;
  width: 240%;
}

.lupa{
  width: 40px;
  height:30px;
  padding: 5px 10px; 
  margin-left: 900px;
  position:absolute;
  top:90px;

  cursor:pointer;
}

#campoText{
          border-radius: 90px;
          border: 1px solid #ccc;
          width: 20%;
          padding: 12px 40px;
          margin: 9px 60px;
          display: flex;
          margin-top: -10px;

    }

#fone{
  position: relative;
  margin:9px 50px;
  padding-left: 5%;
  


}

#email{
  position: relative;
  margin: 9px 50px;
  padding-left: 5%;

}

#fale{
border-color: #000000;
padding-left: 35%;
padding-top: 0%;
padding-bottom:0%;
padding-right: 35%;
position: relative;
padding-top: 0%;
color: rgb(0, 0, 0);
margin-top: 1%;
background-color: rgb(165, 162, 162);
}

#obs{
padding-left: 40%;
padding-top:1% ;
padding-bottom:0% ;
padding-right: 35%;
position: relative;


}


#texto{
padding: 0%;
padding-left: 10%;
padding-right: 10%;
margin-left: 30%;
padding-top: 3%;
padding-bottom: 1%;
border-color: black;
}

#botão{

position: relative;
left: 30%;
background-origin: padding-box;
border-color: #f2f2f2;

}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  /* only for demonstration, should be removed */
  /*background: #ccc;*/ /*COR DA PARTE TRASEIRAQUE ENGLOBA TODOS OS BOTÕES*/
  padding: 0 20px;
  display: flex;
}

#voltar{
  background-color: #a7c957;
  cursor: pointer;
  position: absolute;
  left: 95%;
  top: 35px;
}
/* Style the footer */
footer {
      background-color: #D7D1D1;
      margin-top:990px;
      padding: 50px;
      text-align: left;
      color: white;
      text-decoration: none;
    }

    
    .footer_inicio{
      padding-left: -1%;
      height: 290px;
      width: 120px;
    }

    .footer_suporte{
      padding-left: -1%;
      height: 87px;
    }

    .footer_img{
        right: -80px;
    }

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto; }}

    
