 *{			
	padding: 0
	margin:0;
  	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

body {
 	font-family: Arial, Helvetica, sans-serif;
}

ul{
	list-style: none;
}
		
/* Definir o estilo do cabeçalho */
header{
	background-color: #a7c957;
	padding: 9px;
	font-size: 16px;
	color: white;
}

a{	
	width: 100%;
	display: block;
	padding: 20px 5px;
	color: white;
	
}

a:hover{
	background-color: rgb(176, 224, 230);
	color: black;
}

.FormatoDicas{
	background: #9DB4C0;
	border: 3px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

#check{
	display: none;
}

#icone{
	cursor: pointer;
	padding: 15px;
	position: absolute;
	z-index: 1;
	top: 21px;
}

#m1{
	position: absolute;
	left: 44%;
	top: 3%;
	color: white;

}

#voltar{
	background-color: #a7c957;
	cursor: pointer;
	position: absolute;
	left: 95%;
	top: 35px;
}
#imagemDicas{
	margin-left: 38%;
	margin-top: 2%;
	width: 300px;
	height: 200px;
}

h1{
	margin-left: 42%;
	margin-top: 5%;

}


.nave{
	width: 100%;
	left: 0px;
	top: 80px;
	flex-direction: column; /*QUEBROU OS 'BOTÕES' DEIXANDO UM ABAIXO DO OUTRO*/
}

#inputpesq{
	margin-left: 200px;
	width: 290%;
}

.lupa{
	width: 40px;
	height:30px;
	padding: 5px 10px; 
	margin-left: 810px;
	position:absolute;
	top:90px;

	cursor:pointer;
}

#campoText{
    border-radius: 90px;
  	border: 1px solid #ccc;
 	width: 15%;
 	padding: 12px 40px;
	margin: 9px 180px;
	display: flex;
	margin-top: -874px;
}

