 {			
			padding: 0
			margin:0;
		  	box-sizing: border-box;
		}

		body {
		  font-family: Arial, Helvetica, sans-serif;
		}

		/* Style the header */
		header {
		  background-color: #a7c957;
		  padding: 9px;
		  text-align: center;
		  font-size: 16px;
		  color: white;
		 
		}

		#check{
			display: none;
		}

		#icone{
			cursor: pointer;
			padding: 15px;
			position: absolute;
			z-index: 1;
			top: 21px;
			
		}

		.barra{
			background-color: #9F9F9F; /*COR DA PARTE DE CIMA QUE ENGLOBA O BOTÃO TRêS LINHAS*/
			height: 68%;
			top: 10px;
			width:300px;
			position: absolute;
			transition: all .2s linear;
			left: -300px;
			


		}
		.nave{
			width: 100%;
			position: relative;
			top: 80px;
			flex-direction: column; /*QUEBROU OS 'BOTÕES' DEIXANDO UM ABAIXO DO OUTRO*/

		}

		.nave a {
			text-decoration: none;

		}
		
		.link{
			background-color: #a7c957;/*COR DO BOTÃO*/
			padding: 20px;
			font-family: arial;
			font-size: 12pt;
			transition:all .2s linear;
			color: #f4f4f9; /*COR DA FONTE*/
			border-bottom: 23px solid #9F9F9F; /*COR DO ESPAÇAMENTO DO BOTÃO/LINK */
			opacity: 0;
			margin-top: 50px;


		}

		.link:hover{
			background-color: pink;

		}

		#check:checked ~ .barra{
			transform: translateX(300px);
		}
		#check:checked ~ .barra .nave a .link{
			opacity: 1;
			margin-top: 0;
			transition-delay: .2px;
		}

		#inputpesq{
			margin-left: 200px;
			width: 290%;
		}

		.lupa{
			width: 40px;
			height:30px;
			padding: 5px 10px; 
			margin-left: 810px;
			position:absolute;
			top:90px;

			cursor:pointer;

		}
		#campoText{
			    border-radius: 90px;
			  	border: 1px solid #ccc;
			 	width: 15%;
		  	 	padding: 12px 40px;
		  		margin: 9px 180px;
		  		display: flex;
		  		margin-top: -10px;

		}

		/* Create two columns/boxes that floats next to each other */
		nav {
		  float: left;
		  width: 30%;
		  /* only for demonstration, should be removed */
		  /*background: #ccc;*/ /*COR DA PARTE TRASEIRAQUE ENGLOBA TODOS OS BOTÕES*/
		  padding: 0 20px;
		  display: flex;
		}

		/* Style the footer */
		footer {
		  background-color: #D7D1D1;
		  margin-top: 800px;
		  padding: 50px;
		  text-align: left;
		  color: white;
		}

		/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
		@media (max-width: 600px) {
		  nav, article {
		    width: 100%;
		    height: auto;

		  }
		}